<div class="container">
  <input type="radio" id="d-all" name="division" value="" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-all">All</label>
  <input type="radio" id="d-eastern" name="division" value="E" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-eastern">Eastern</label>
  <input type="radio" id="d-western" name="division" value="W" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-werstern">Western</label>
  <input type="radio" id="d-atlantic" name="division" value="A" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-atlantic">Atlantic</label>
  <input type="radio" id="d-metro" name="division" value="M" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-metro">Metro</label>
  <input type="radio" id="d-central" name="division" value="C" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-central">Central</label>
  <input type="radio" id="d-pacific" name="division" value="P" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-pacific">Pacific</label>
  <input type="radio" id="d-custom" name="division" value="X" [(ngModel)]="selectedDivision" (change)="setDivision($event)"/>
  <label for="d-custom">Custom</label>
  <select name="Home" [(ngModel)]="selectedHome" size="1">
    <option value="Atlantic">Atlantic</option>
    <option value="Metro">Metro</option>
    <option value="Central">Central</option>
    <option value="Pacific">Pacific</option>
  </select>
  <select name="Away" [(ngModel)]="selectedAway" size="1">
    <option value="Atlantic">Atlantic</option>
    <option value="Metro">Metro</option>
    <option value="Central">Central</option>
    <option value="Pacific">Pacific</option>
  </select>
</div>
<div *ngIf="crosstab" class="entity-section entity-section-light">
  <div class="container">
    <div class="row">
      <span class="col-md-12">
        <span class="team-id">&nbsp;</span>
        <span *ngFor="let teamId of teamIds" class="team-box" [ngClass]="isSelected(teamId, -1, 'A')">
          <span [innerHtml]="teamId" class="team-id"></span>
        </span>
      </span>
    </div>
    <div *ngFor="let item of crosstab" class="row">
      <span class="col-md-12"  [ngClass]="isSelected(item.TeamId, -1, 'H')">
        <span [innerHtml]="item.TeamId" class="team-id"></span>
        <span *ngFor="let teamId of teamIds" class="team-box">
          <span [innerHtml]="crossPercentage(item[teamId])" class="crosstab-value" [ngClass]="isSelected(teamId, item[teamId], 'A')"></span>
        </span>
      </span>
    </div>
  </div>
</div>
