<div *ngIf="crosstab" class="entity-section entity-section-light">
  <div class="container">
    <div class="row">
      <span class="col-md-12">
        <span class="team-id">&nbsp;</span>
        <span *ngFor="let teamId of teamIds" class="team-box">
          <span [innerHtml]="teamId" class="team-id"></span>
        </span>
      </span>
    </div>
    <div *ngFor="let item of crosstab" class="row">
      <span class="col-md-12">
        <span [innerHtml]="item.TeamId" class="team-id"></span>
        <span *ngFor="let teamId of teamIds" class="team-box">
          <span [innerHtml]="crossPercentage(item[teamId])" class="crosstab-value" [ngClass]="crossPercentageCSS(item[teamId])"></span>
        </span>
      </span>
    </div>
  </div>
</div>
