  <div *ngIf="teams" class="entity-section entity-section-light">
    <div class="container">
      <div *ngIf="teams" class="row row-centered">
        <div class="col-md-12">
          <div *ngFor="let item of teams" class="event-box">
            <a href="/teams/{{item.id}}">
            <span [innerHtml]="item.name"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="entity-section entity-section-light">
    <div class="container">
      <div *ngIf="teamId" class="row row-centered">
        <div class="col-md-12">
          <span [innerHtml]="teamId"></span>
          <span style="padding-left:1em;">{{getDivisionAndConverence(teamId)}}</span>
        </div>
        <div class="row row-centered">
          <div class="col-md-12">
            <div *ngIf="nextScheduledGames" class="entity-list">
                <div (mouseenter)="onMouseEnter(item)"  *ngFor="let item of nextScheduledGames" class="entity-box">
                  <a href="/dategames/{{item.gameDate}}/{{item.teamId}}"><span [innerHtml]="item.gameDate" class="entity-item"></span></a>
                  <a href="/teams/{{item.oppoId}}"><span class="opponent-name" [innerHtml]="item.oppoTeamName" class="entity-item"></span></a>
                  <span [innerHtml]="item.oppoTeamDivision"class="entity-item"></span>
                  <span [innerHtml]="item.oppoTeamConference"class="entity-item"></span>
                  <span [innerHtml]="item.location" class="entity-item"></span>
                  <div *ngIf="item.history"  class="history-row">
                    <span *ngFor="let element of item.history; index as index">
                      <span *ngIf="index > 0" style="padding:2px">
                        <span class="history-day-between" *ngFor="let _ of [].constructor(daysBetween(element.gameDate, item.history[index - 1].gameDate))">*</span>
                      </span>
                      <span class="history-item" 
                        [ngClass]="element.outcome === 'W' ? element.overtime ? 'outcome-ot-win' : 'outcome-win' : element.overtime ? 'outcome-ot-lost': 'outcome-lost'">
                        <a href="/dategames/{{element.gameDate}}/{{element.oppoId}}"><span [innerHtml]="element.oppoId"></span></a> 
                        <span style="padding:2px" [innerHtml]="element.finalScore"></span>
                      </span>
                    </span>
                    <span *ngIf="item.history.length > 1" class="prev-game"  style="padding:2px">
                      <span class="history-day-between" *ngFor="let _ of [].constructor(daysBetween(item.gameDate, item.history[item.history.length-1].gameDate))">*</span>
                    </span>
                  </div>  
                </div>
              </div>
          </div>
        </div>
        <div class="row row-centered">
          <div class="col-md-12">
            <div *ngIf="homePerformance" class="entity-list">
                <div (mouseenter)="onMouseEnter(item)"  *ngFor="let item of homePerformance" class="entity-box"
                    [ngClass]="item.outcome === 'W' && item.location === 'H' ? 'outcome-win location-home' :
                      item.outcome === 'W' && item.location === 'A' ? 'outcome-win location-away' :
                      item.location === 'H' ? 'outcome-lost location-home' : 'outcome-lost location-away'">
                  <div>
                    <a href="/dategames/{{item.gameDate}}/{{item.teamId}}"><span [innerHtml]="item.gameDate" class="entity-item"></span></a>
                    <a href="/teams/{{item.oppoId}}"><span class="opponent-name" [innerHtml]="item.oppo" class="entity-item"></span></a>
                    <span class="entity-item" [ngStyle]="{'border': getStyleForDivisionAndConverence(teamId, item.oppoId, item.finalScore)}">{{getDivisionAndConverence(item.oppoId)}}</span>
                    <span [innerHtml]="item.location" class="entity-item"></span>
                    <span [innerHtml]="item.performance" class="entity-item"></span>
                    <span [innerHtml]="item.gameMovingAvg3" class="entity-item"></span>
                    <span [innerHtml]="item.gameMovingAvg10" class="entity-item"></span>
                    <span [innerHtml]="item.finalScore" class="entity-item"></span>
                    <span [innerHtml]="item.overtime ? 'OT' : ''" class="entity-item"></span>
                  </div>
                  <div *ngIf="item.history"  class="history-row">
                    <span *ngFor="let element of item.history; index as index">
                      <span *ngIf="index > 0" style="padding:2px">
                        <span class="history-day-between" *ngFor="let _ of [].constructor(daysBetween(element.gameDate, item.history[index - 1].gameDate))"
                          [ngClass]="element.location == 'H' ? 'next-game-home' : 'next-game-away'">*</span>
                      </span>
                      <span class="history-item" 
                        [ngClass]="element.outcome === 'W' ? element.overtime ? 'outcome-ot-win' : 'outcome-win' : element.overtime ? 'outcome-ot-lost': 'outcome-lost'">
                        <a href="/dategames/{{element.gameDate}}/{{element.oppoId}}"><span [innerHtml]="element.oppoId"></span></a>
                        <span style="padding:2px" [innerHtml]="element.finalScore"></span>
                      </span>
                    </span>
                    <span *ngIf="item.history.length > 1" class="prev-game"  style="padding:2px">
                      <span class="history-day-between" *ngFor="let _ of [].constructor(daysBetween(item.gameDate, item.history[item.history.length-1].gameDate))">*</span>
                    </span>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
