<nav>
  <a class="button" routerLink="/teams" routerLinkActive="activebutton">Teams</a> |
  <a class="button" routerLink="/dategames" routerLinkActive="activebutton">Date Games</a> |
  <a class="button" routerLink="/crosstab" routerLinkActive="activebutton">Crosstab</a>
</nav>

<router-outlet></router-outlet>

<div style="display: none;">

<!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
<nav>
  <a class="button" routerLink="/teams">Teams</a> |
  <a class="button" routerLink="/date-games">Date Games</a>
  <a class="button" routerLink="/crosstab">Crosstab</a>
</nav>


</div>
